@charset "UTF-8";

/*Versão Mobile First*/

:root {
    /*Cores*/
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html,
main {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--lilas);
}

main {
    position: relative;
}

main section#tela_login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    width: 250px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #00000065;
    transition-timing-function: ease;
    transition: width 0.5s, height 0.5s;
    transform: translate(-50%, -50%);
}

main article#imagem {
    display: block;
    background: var(--lilas) url(../imagens/pexels-pixabay.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

main article#formulario {
    display: block;
    padding: 10px;
}

main article#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

main article#formulario>p {
    font-size: 0.8em;
    margin-bottom: 15px;
}

main form>div.campo {
    background-color: var(--lilas);
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid var(--lilas);
    margin: 5px 0px;
}

main form>div.campo>label {
    font-size: 0.8em;
    display: none;
}

main form>div.campo>span {
    color: white;
    width: 41px;
    font-size: 2em;
    /*background-color: black;*/
    padding: 5px;
    transform: translateY(-5px);
}

main form>div.campo>input {
    background-color: #94cfcd;
    font-size: 0.8em;
    width: calc(100% - 46px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translate(1px, -16px);
}

main form>div.campo>input:focus-within {
    background-color: white;
    outline: none;
    transition: 300ms;
}

main form>input[type=submit],
button {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

main form>input[type=submit]:hover {
    background-color: #337775;
}

main form>button {
    margin-top: 5px;
    background-color: white;
    color: var(--verde);
    border: 1px solid var(--verde);
}

main form>button:hover {
    background-color: var(--verde);
    color: white;
}

main form>img {
    display: none;
}